# Build artifacts e temporários
*.aab
*.apk
*.dcu
*.dex
*.drc
*.exe
*.gitignore
*.groupproj
#*.json
*.keystore
*.lnk
*.local
*.map
#*.mp3
*.o
*.pem
#*.png
*.res
*.so
*.tvsconfig
*.txt
*.xml
*.zip
*.~*~
*.identcache
*.local
*.FDB
*.vlb
*.tmp
*.skincfg
*.deployproj
*.eof
*.info
*.dat

# Pastas temp
/**/__history
/**/__backup
/**/__recovery